<%- include('./partials/headerLogRes'); %>
<p class="login-box-msg">Insira suas Credenciais de Acesso</p>

<form action="/login" method="POST">
  <div class="input-group mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      name="email"
      id="login_Field"
      required
    />
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      name="password"
      id="login_Field"
      required
    />
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- /.col -->
    <div class="col-12">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        style="background-color: #11998e; border-color: #11998e"
      >
        Login
      </button>
    </div>
    <!-- /.col -->
  </div>
</form>
<p class="mb-0 mt-2" style="text-align: center">
  <a href="/register" class="text-center" style="color: #11998e"
    >Registrar novo Membro</a
  >
</p>

<%- include('./partials/footerLogRes'); %>
