.contato {
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo, .contato__texto, .contato__input {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    margin: 1em 0 0.5em 0;
}

.contato__texto {
    font-weight: 300;
    margin-bottom: 1em;
}

.contato__input {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
    
}

.contato__input::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2em;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__descricao {
        margin-right: 1em;
        width: 30%;
    }

    .contato__input {
        width: 30%;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__texto {
        font-size: 16px;
    }
}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 3em 20vw;
    }
}