<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Alura | Dashboard</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/5677bce83e.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="/css/adminlte.min.css">

  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <% if (alert) { %>

    <% if (type === 'success') { %>

      <div class="alert alert-success d-block" role="alert">
        <strong>Eba!</strong> <%= msgContent %>
      </div>

    <% } else { %>

      <div class="alert alert-danger d-block" role="alert">
        <strong>Opa!</strong> <%= msgContent %>
      </div>

    <% } %>

  <% } %>
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="./img/logo.svg" alt="" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="./img/logo.svg" alt="AluraBooks" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AluraBooks</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
     

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fa-solid fa-house"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/dashboard/members" class="nav-link">
              <i class="nav-icon fa-solid fa-users"></i>
              <p>
                Membros
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/dashboard/books" class="nav-link">
              <i class="nav-icon fa-solid fa-book"></i>
              <p>
                Livros
              </p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <div class="container mt-4">


      